<div class="container">
  <div class="col-md-4">

     <br> <br><br><br>
    <form action="" method="post">


      <label for="Name">Name:</label> <input id="name" type="text" class="form-control" name="name" [(ngModel)]='name'>
      <br>
      <label for="Name">Surname:</label> <input [(ngModel)]='surname' id="surname" type="text" class="form-control" name="surname">
      <br>
      <label for="Name">Age:</label> <input id="yas" [(ngModel)]="age" type="text" class="form-control" name="yas">
      <br>
      <label for="Name">Id:</label> <input id="id" type="text" [(ngModel)]="id" class="form-control" name="id">

      <a href="">Kayıt Ol</a>



    </form> 

    <!-- <br>
    <br>
    <br>
    Enter the value  : <input [(ngModel)] ='val' >
    <br>
    Entered value is:  {{val}}  --> 

  </div>
</div>