<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            </div>
          <div class="card-body">

            <div class="form-group"> 

              <form #useForm="ngForm" >
                
                <div class="form-group"> <label>Name:</label> <input type="text" name="name" class="form-control" ngModel></div>



                <div class="form-group"><label>Surname:</label> <input class="form-control" name="surname" ngModel type="text">
                </div>
                <div class="form-group">
                  <label>Age:</label> <input class="form-control" name="age" ngModel type="text">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Save</button>


              </form>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"> Table on Plain Background</h4>
            <p class="card-category"> Here is a subtitle for this table</p>
          </div>
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>